<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
	<head>
		<style type="text/css">
			h3 {
				color: #667CBA;
				font-family: 'myriad pro',arial,sans-serif;
				font-size: 12pt;
				font-weight: normal;
				margin: 20px 0 10px 20px;
			}
			
			p {
				font-family: arial, sans-serif;
				font-size: 11pt;
				margin: 20px 20px;
			}
			
			.signature {
				color: #667CBA;
			}
		</style>
	</head>
	<body>
		<h3>Bonjour,</h3>
		<p>%%contenu%%</p>
		<p class="signature">%%signature%%</p>
	</body>
</html>